* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #000000;
  margin: 0;
}

header {
  background-color: blue;
  font-size: 0;
}

h1 {
  font-family: 'Gugi', cursive;
  color: white;
  /* background-color: red; */
  display: inline-block;
  padding: 100px 50px 20px;
  width: 75%;
  margin: 0px;
  font-size: 40px;
}

header h2 {
  display: inline-block;
  width: 25%;
  /* background-color: blue; */
  margin: 0;
  padding: 0;
  font-size: 20px
}

nav {
  background-color: #999999;
}
nav ul {
  /* Background-color: red; */
  padding-left: 40px;
  font-size: 0px;
}
nav li {
  /* background-color: green; */
  display: inline-block;
  font-size: 16px;
}
nav a {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  color: black;
}
a:hover {
  background-color: blue;
  color: white;
}
main {
  font-family: 'Merriweather', serif;
  background-color: white;
  font-size: 0;
}
  section{
    /* background-color: red; */
    display: inline-block;
    font-size: 16px;
    width: 60%;
    border-right: 3px solid #333333;
    padding: 20px 20px 30px 50px;
    min-height: 500px;
  }
  aside {
    display: inline-block;
    font-size: 16px;
    width: 40%;
    vertical-align: top;
    padding: 20px;
}
h4 {
  margin: 10px;
  color: green;
  margin-left: 15px
}


footer {

  padding: 20px 50px;
}

footer p, footer a {
  color: white;
  text-decoration: none;
}
img, iframe {
  max-width: 100%;
}
section p {
  margin: 18px 0;
/* background-color: red; */}
.field{
  float: left;
  width: 30%;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
}
.field:nth-child(3n+1){
  margin-right: 0;
}
.right {
  width: 300px;
  float: right;
  margin-left: 20px;
    border: 1px solid #555555;
  padding: 10px;
}
.vertcenter{
  margin-top: 100px;
}
section li{
  margin:15px 15px;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}


}
